<!-- Top navbar -->
<nav
    class="
        navbar navbar-expand-md navbar-dark
        bg-primary
        shadow-lg
        fixed-top
        py-2
    "
>
    <div class="container-fluid">
        <a class="navbar-brand" href="/">TodoApp</a>
        <button
            class="navbar-toggler border-0 shadow-none"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#top-navbar"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="top-navbar">
            <ul class="navbar-nav me-auto">
                <% if(user.isLoggedIn) { %>
                <li class="nav-item">
                    <a class="nav-link" href="/todo/<%- user.data.username %>"
                        ><i class="bi bi-clipboard-check"></i> My Todo</a
                    >
                </li>
                <% } %>
            </ul>
            <ul class="navbar-nav mt-3 mt-md-0">
                <% if(!user.isLoggedIn) { %>
                <li class="nav-item">
                    <a class="btn btn-success" href="/auth/login"
                        >Login <i class="bi bi-box-arrow-in-right"></i
                    ></a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-warning" href="/auth/signup"
                        ><i class="bi bi-person-circle"></i> Sign up</a
                    >
                </li>
                <% } %> <% if(user.isLoggedIn) { %>
                <li class="nav-item">
                    <a
                        class="btn btn-danger"
                        href="#logoutModal"
                        data-bs-toggle="modal"
                        ><i class="bi bi-power"></i> Logout</a
                    >
                </li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>
<% if(user.isLoggedIn) { %> <%- include('./logout.ejs') %> <% } %>
<!-- End top navbar -->
