        </main>
        <!-- Footer section -->
        <footer id="footer" class="d-flex justify-content-center align-items-center bg-light">
            <p class="lead mb-0">
                &copy;
                <%= new Date().getFullYear() %>
                All rights reserved by
                <a href="https://github.com/marzuk-zarir" target="__blank" rel="noreferrer noopener">Marzuk Zarir</a>
            </p>
        </footer>
        <!-- End footer section -->
    </body>
</html>
