<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <style>
            .preload {
                transition: none !important;
            }
        </style>
        <link rel="stylesheet" href="/static/bootstrap.min.css" />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.min.css"
        />
        <link rel="stylesheet" href="/static/main.css" />
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ"
            crossorigin="anonymous"
            defer
        ></script>
        <script src="/static/main.js" defer></script>
        <link rel="shortcut icon" href="/static/assets/todoapp.ico" type="image/x-icon" />
        <title><%= title %> - Todo App</title>
    </head>
    <body class="preload">
        <header id="header"><%- include('../partials/navbar.ejs') %></header>
        <main id="wrapper">
            <noscript
                ><p class="lead text-danger text-center">
                    For full functionality of this site it is necessary to enable
                    JavaScript
                    <a
                        class="text-decoration-none"
                        href="https://www.enable-javascript.com/"
                        target="__blank"
                        rel="noreferrer noopener"
                        >Learn More.</a
                    >
                </p></noscript
            >
