{%- include('./layouts/header.ejs') %}

<div class="container pt-5 text-center">
    <h1 class="display-6 text-danger">
        <i class="bi bi-exclamation-triangle-fill"></i>
        CSRF Attack Detected !! For security reason we logout your session
        <i class="bi bi-exclamation-triangle-fill"></i>
    </h1>
    <a href="https://en.wikipedia.org/wiki/Cross-site_request_forgery">Learn more</a>
</div>

{%- include('./layouts/footer.ejs') %}
