{%- include('./layouts/header.ejs') %}

<div class="container pt-3">
    {%- include('./partials/flash.ejs') %}
    <p class="lead">{%= user.data %}</p>
</div>

{%- include('./layouts/footer.ejs') %}
